*
!.gitignore

!mod/
!Anchors/
!Conditionals/
!CWTs/
!Mechanics/
!SaveFile/
!Slugcats/
!Slugcats/Bitter/
!Slugcats/Bitter/BitterGraphics/
!Slugcats/Scholar/
!Slugcats/Scholar/Permadeath/
!Slugcats/Scholar/ThreadsSequence/
!Mod/
!Mod/atlases/
!Mod/modify/
!Mod/modify/world/
!Mod/music/
!Mod/music/procedural/
!Mod/palettes/
!Mod/plugins/
!Mod/scenes/
!Mod/scenes/*/
!Mod/slugbase/
!Mod/slugbase/scenes/
!Mod/world/
!Mod/world/*/
!Mod/world/*/*/

!*.sln
!*.cs
!*.csproj
!*.png
!*.txt
!*.json
!*.ogg
