*
!.gitignore

!mod/
!src/
!src/Anchors/
!src/Conditionals/
!src/CWTs/
!src/Mechanics/
!src/SaveFile/
!src/Slugcats/
!src/Bitter/
!src/Scholar/

!stardustFamine/
!stardustFamine/atlases/
!stardustFamine/modify/
!stardustFamine/modify/world/
!stardustFamine/music/
!stardustFamine/music/procedural/
!stardustFamine/palettes/
!stardustFamine/plugins/
!stardustFamine/scenes/
!stardustFamine/scenes/*/
!stardustFamine/slugbase/
!stardustFamine/slugbase/scenes/
!stardustFamine/world/
!stardustFamine/world/*/
!stardustFamine/world/*/*/

!*.sln
!*.cs
!*.csproj
!*.png
!*.txt
