*
!.gitignore

!stardust/
!stardust/mod/
!stardust/Anchors/
!stardust/Conditionals/
!stardust/CWTs/
!stardust/Mechanics/
!stardust/SaveFile/
!stardust/Slugcats/
!stardust/Slugcats/Bitter/
!stardust/Slugcats/Bitter/BitterGraphics/
!stardust/Slugcats/Scholar/
!stardust/Slugcats/Scholar/Permadeath/
!stardust/Slugcats/Scholar/ThreadsSequence/
!stardust/Mod/
!stardust/Mod/atlases/
!stardust/Mod/modify/
!stardust/Mod/modify/world/
!stardust/Mod/music/
!stardust/Mod/music/procedural/
!stardust/Mod/palettes/
!stardust/Mod/plugins/
!stardust/Mod/scenes/
!stardust/Mod/scenes/*/
!stardust/Mod/slugbase/
!stardust/Mod/slugbase/scenes/
!stardust/Mod/world/
!stardust/Mod/world/*/
!stardust/Mod/world/*/*/

!mod/
!Anchors/
!Conditionals/
!CWTs/
!Mechanics/
!SaveFile/
!Slugcats/
!Slugcats/Bitter/
!Slugcats/Bitter/BitterGraphics/
!Slugcats/Scholar/
!Slugcats/Scholar/Permadeath/
!Slugcats/Scholar/ThreadsSequence/
!Mod/
!Mod/atlases/
!Mod/modify/
!Mod/modify/world/
!Mod/music/
!Mod/music/procedural/
!Mod/palettes/
!Mod/plugins/
!Mod/scenes/
!Mod/scenes/*/
!Mod/slugbase/
!Mod/slugbase/scenes/
!Mod/world/
!Mod/world/*/
!Mod/world/*/*/

!*.sln
!*.cs
!*.csproj
!*.png
!*.txt
!*.json
!*.ogg
